/* Number.css */

.number {
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number .up,
.number .down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number svg {
    width: 25px; /* 이미지 크기 조정 */
    height: 25px; /* 이미지 크기 조정 */
    margin: 3px 3px; /* 이미지 간격 조정 */
    cursor: pointer;
}

.number svg:active {
    transform: scale(1.1);
}

.correct {
    color: mediumblue;
}

.incorrect {
    color: red;
}


