/* ShareLinkButton.css */

.share-link {
    width: 340px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 100;
    background-color: white;
    line-height: 48px;
    overflow: auto;

    /* 파이어폭스용 스크롤바 숨기기 */
    scrollbar-width: none;
    /* 크롬, 사파리, 오페라용 스크롤바 숨기기 */
    &::-webkit-scrollbar {
        display: none;
    }
  }
  
  .copy-link {
    width: 340px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 18px;
    color: azure;
    font-weight: 400;
    border: none;
    background-color: rgb(83, 138, 231);
  }
  
