
@font-face {
  font-family: 'seoul';
  src: url('../../assets/fonts/seoulS.TTF') format('truetype');
}


body{
  background-image: url('../../assets/images/paper-texture.png');
  font-family: 'seoul';
  
}

.outerLayout{
    width: 100vw;
    height: calc(var(--vh,1vh)*100);
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    

}


.innerLine{
  display: block;
  margin-top: -30%;
}

@media (min-width: 1000px) {
    .innerLine {
      width: 600px;
      height: calc(var(--vh,1vh)*100);
      border: 1px solid black;
      text-align: center;
      padding-top: 40%;
    }
  }
  

.title{
    width: 270px;
    height: 70px;
    font-size: 40px;
    border: 1px solid black;
    line-height : 70px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.description{
    margin: 30px 0 30px 0;
}

.description h4{
    margin: 5px 0 5px 0;
}

input#name {
    margin: 50px 0 30px 0;
    width: 300px;
    height: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1.5px solid grey;

    text-align: center;
    font-size: 18px;
    font-weight: 100;
  }
  
  button.mainButton {
    width: 240px;
    height: 48px;
    font-size: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: gainsboro;
    border: 3px solid black;
  }
  