/* MakePage.css */


.outerLayout{
  position: fixed; /* 추가 */
  width: 100vw;
  height: calc(var(--vh,1vh)*100);
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
  

}

.inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  margin: 0 0 0 0;
}

.inner  .question-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner .get-correctNo,
.inner .answer-container,
.inner .image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}

.inner .get-correctNo{
  width: 15%;
  background-color: white;
}

.inner .answer-container{
  width: 55%;
  background-color: white;
}

.inner .image-container{
  width: 30%;
  background-color: white;
}

.get-correctNo input[type="radio"] {
  display: none;
}

.get-correctNo label {
  position: relative;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.get-correctNo label:before {
  content: "";
  height: 2em;
  width: 2em;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 0.5em;
}

.get-correctNo input[type="radio"]:checked + label:before {
  height: 1.3em;
  width: 1.3em;
  border: 0.4em solid white;
  background-color: black;
}

.get-correctNo input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}



.inner .answer-container input{
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}

.inner .image-container input {
  margin-top: 5px;
  margin-bottom: 5px;
}





.button{
    width: 200px;
    height: 40px;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: gainsboro;
    border: 3px solid black;
}
